<html>
  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Admin Acceptance Email Template</title>
    <style>
      .center { display: block; margin-top: 50px; margin-left: auto;
      margin-right: auto; width: 50%; } h1 { font-family: 'Times New Roman',
      Times, serif; text-align: center; } p { font-family: Arial, Helvetica,
      sans-serif; font-size: 20px; text-align: center; } .p1 { margin-left: 30%;
      font-size: 20px; font-weight: bold; } .p2 { font-family: Arial, Helvetica,
      sans-serif; font-size: 20px; margin-left: 27%; }
    </style>
  </head>
  <body>
    <img
      src='https://laofoundation.netlify.app/assets/surelogo.png'
      alt='Lao logo'
      style='max-width: 400px; height: auto'
      class='center'
    />
    <h1>Congratulations!</h1>
    <p>
      Hello, Good day! You are now an administrator for the Lao Foundation Inc.
      Scholarship Program.
      <br />
      You may now be able to access the web-application through the details
      attached to this email. Please change your password right away.
    </p>
    <br />
    <div class='p1'>
      Email:
      {{email}}
      <br />
      Password:
      {{password}}
    </div>
    <br /><br />
    <div class='p2'>
      Sincerely,
      <br />
      Lao Foundation Inc.
    </div>
  </body>
</html>