<html>
  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Expulsion Email Template</title>
    <style>
      .center { display: block; margin-top: 50px; margin-left: auto;
      margin-right: auto; width: 50%; } h1 { font-family: 'Times New Roman',
      Times, serif; text-align: center; } p { font-family: Arial, Helvetica,
      sans-serif; font-size: 20px; text-align: center; } .p1 { margin-left: 30%;
      font-size: 20px; font-weight: bold; } .p2 { font-family: Arial, Helvetica,
      sans-serif; font-size: 20px; margin-left: 27%; }
    </style>
  </head>
  <body>
    <img
      src='https://laofoundation.netlify.app/assets/surelogo.png'
      alt='Lao logo'
      style='max-width: 400px; height: auto'
      class='center'
    />
    <h1>You are expelled</h1>
    <p>
      You have been removed as a scholar from the Scholarship Program<br />
      Due to your actions not being able to satisfy Lao Foundation Inc.'s rules
      and regulations,
      <br />
      the Administrators have decided to remove you from the Scholarship
      Program.
      <br />
      We are sorry to tell you that you will not be permitted to re-apply for
      the Scholarship Grant in the future.
    </p>
    <br />
    <div class='p1'>
      Reason:
      {{reason}}
    </div>
    <br /><br />
    <div class='p2'>
      Sincerely,
      <br />
      Lao Foundation Inc.
    </div>
  </body>
</html>