<html>
  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Forgot Password Template</title>
    <style>
      .center { display: block; margin-top: 50px; margin-left: auto;
      margin-right: auto; width: 50%; } h1 { font-family: 'Times New Roman',
      Times, serif; text-align: center; } p { font-family: Arial, Helvetica,
      sans-serif; font-size: 20px; text-align: center; } .p1 { margin-left: 30%;
      font-size: 20px; font-weight: bold; } .p2 { font-family: Arial, Helvetica,
      sans-serif; font-size: 20px; margin-left: 27%; }
    </style>
  </head>
  <body>
    <img
      src='https://laofoundation.netlify.app/assets/logo.png'
      alt='Lao logo'
      style='max-width: 400px; height: auto'
      class='center'
    />
    <h1>Hello Scholar!</h1>
    <p>
      You have requested a password reset for your account;
      <br />click the link below to complete the process and proceed to the next
      step.<br />
      If you didn't make this request, please ignore this email.
    </p>
    <br />
    <div class='p1'>Link: {{link}} </div>
    <br /><br />
    <div class='p2'>
      Sincerely,
      <br />
      Lao Foundation Inc.
    </div>
  </body>
</html>